html{
    overflow: hidden;
}
body{
    overflow: hidden;
    background: #ffc;
}
button{
    border: none;
    background-color: rgb(46, 169, 252);
    color: #fff;
    height: 40px;
    width: 100px;
    border-radius: 5px;
}
button:active{
    border: none;
    background-color: rgb(87, 187, 253);
}
#check{
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    margin: auto;
}
input[type=text]{
    height: 40px;
    width: 400px;
    text-align: center;
    border-radius: 0;
    font-size: 25px;
}
#kaitoran{
    position: absolute;
    left: 0;
    right: 0;
    top: 150px;
    margin: auto;
}
.入力{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 400px;
    width: 600px;
    background: orange;
    border: aqua solid 5px;
}
#mode_selecter{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 170px;
    height: 300px;
    background: rgb(0, 255, 179);
}
#op_ch_mode{
    height: 100px;
    width: 170px;
    border: #fff 1px solid;
}
#op_ch_mode{
    background: #fff 1px solid;
}
.問題{
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    margin: auto;
    background: orange;
    height: 80px;
    width: 700px;
    text-align: center;
}
.問題 a{
    position: absolute;
    top: 20px;
    font-size: 20px;
}